/** @format */
body {
  margin: 0;
  padding: 0;
}
.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://www.roberthalf.com/sites/default/files/styles/full_width_content_image_1x_small_480/public/2021-04/shutterstock_412257712-2.jpg?itok=6zwcqcb5);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
h1 {
  color: #fff;
  margin-bottom: 70px;
  font-size: 45px;
  letter-spacing: 2px;
  text-align: center;
}
.search-field {
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
}
.Link {
  background: #80ced7;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.business {
  width: 400px;
}
.location {
  width: 200px;
}
.all {
  transition: var(--transition);
}
.add:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}
.search-btn {
  height: 50px;
  margin-left: 1rem;
  width: 150px;
  background: #ffeb3b;
  border: none;
  color: #000;
  border-radius: 25px;
}
.search-btn:hover {
  background: #ffc107;
  cursor: pointer;
}
.form-box {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

/****************/
.main-container {
  width: 90vw;
  margin: 0 auto;
  padding: 40px 0;
}
.main-container > h2 {
  text-align: center;
  padding: 10px 0;
  font-size: 32px;
}
.main-container > p {
  font-weight: 300;
  padding: 10px 0;
  opacity: 0.7;
  text-align: center;
}
.category-head {
  margin: 30px 0;
}
.category-head ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.category-title {
  flex: 0 0 calc(16.6667% - 10px);
  display: flex;
  justify-content: center;
  background: #a8a8a8;
  padding: 12px;
  color: #fff;
  margin: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.category-title:hover {
  opacity: 0.7;
}
.category-title li {
  padding: 0 10px;
}
.category-title span {
  color: #222;
}

/** single post **/
.posts-main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.posts-main-container > div {
  background: white;
  color: #000;
  border: 1px, solid, transparent;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 1rem;
  box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.64);
}
.post-img {
  position: relative;
}
.category-name {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  padding: 4px 10px;
  border-radius: 2px;
}
.business .category-name {
  background: #00a7ea;
}
.culture .category-name {
  background: #f03250;
}
.politics .category-name {
  background: #f0544f;
}
.finance .category-name {
  background: #2c2a4a;
}
.sports .category-name {
  background: #a1e44d;
}

.post-content {
  padding: 25px;
}
.post-content-top {
  background: #80ced7;
  color: #fff;
  opacity: 0.8;
  padding: 5px 0 5px 15px;
}
.post-content-top span {
  padding-right: 20px;
}
.post-content-top .fa-comment,
.post-content-top .fa-calendar {
  padding-right: 5px;
}
.post-content h2 {
  font-size: 22px;
  padding: 12px 0;
  font-weight: 400;
}
.post-content p {
  opacity: 0.7;
  font-size: 15px;
  line-height: 1.8;
}
.read-btn {
  border: none;
  padding: 8px 15px;
  display: block;
  margin: 5px auto;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #292929;
  background: transparent;
  margin-bottom: 40px;
}

.read-btn:hover {
  background: #f6f6f6;
}

/***************/
@media (max-width: 1170px) {
  .posts-main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .posts-main-container {
    grid-template-columns: 1fr;
  }
}

/***********/

.active {
  background: #f0544f;
}
